:root {
  --article-height: 36em;
}

.card-body,
.b-card-text {
  white-space: pre-line;
}

.b-container.b-detail-page {
  padding-top: 2.75em;
  padding-inline: 4em;

  .b-swiper {
    // height: 550px;
  }

  .b-main-info {
    padding-top: 3em;
    padding-bottom: 4.5em;

    .breadcrumb-item:hover a {
      color: #2f97c6;
    }
    .breadcrumb-item.active a {
      color: var(--grey600);
    }

    .b-title {
      padding-top: 1em;
    }

    .col-12 {
      padding-bottom: 3em;
    }

    .b-card-info,
    .b-card-band {
      border-top: 1.5px solid var(--grey100);
      padding-top: 3em;
    }

    .flattenBtn {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.35);
      }
    }

    .table td {
      align-content: center;
    }
  }

  .b-card {
    padding: 2em;
    border-radius: 0.75em;
    border: 2px solid var(--grey200);
  }

  .b-article-cards {
    gap: 4em;

    .b-swiper {
      background: var(--grey50);
      min-height: 520px;
      overflow: hidden;
      height: 100%;

      @media (max-width: 576px) {
        /* 小於 sm */
        .b-swiper-image {
          object-fit: cover !important;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .card-body {
        max-height: var(--article-height);
        overflow-y: auto; /* 允許內容滾動 */
        scrollbar-width: thin; /* (可選) 縮小滾動條，在 Firefox 有效 */
      }
    }
  }

  .b-aside {
    background: var(--grey50);
    padding: 2.25em;
    min-width: 24.375em;
    position: sticky;
    top: 0;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    .b-ticket {
      border: 2px solid transparent;
      position: relative;
      transition: 0.2s;

      &:hover {
        border-color: var(--grey200);
      }

      &.active {
        border-color: var(--grey700);
        z-index: 5;

        &::before {
          content: '';
          position: absolute;
          background: url('/check-lg.svg') no-repeat;
          background-size: cover;
          width: 1.7em;
          height: 1.7em;
          top: -16;
          right: -13;
          z-index: 6;
          border-radius: 0.8em;
          background-color: var(--grey50);
        }
      }
    }

    .b-purchaseBtn {
      margin-top: 3.5em;
    }

    .b-warning {
      border-top: 1.5px solid var(--grey200);

      li {
        margin-block: 0.3em;
        font-size: 0.875em;
      }
    }
  }

  .b-other-act {
    .b-title {
      padding-top: 6em;
    }

    .b-act-list {
      padding-top: 1.5em;
      padding-bottom: 6.25em;
    }
  }
}
