:root {
  --article-height: 36rem;
}

.card-body, .b-card-text {
  white-space: pre-line;
}

.b-container {
  padding-top: 2rem;
  padding-inline: 2rem;

  .b-main-info {
    padding-top: 3rem;
    padding-bottom: 4.5rem;

    .breadcrumb-item:hover a {
      color: #2f97c6;
    }
    .breadcrumb-item.active a {
      color: var(--grey600);
    }

    .b-title {
      padding-top: 1rem;
    }

    .col-12 {
      padding-bottom: 3rem;
    }

    .b-card-info,
    .b-card-band {
      border-top: 1.5px solid var(--grey100);
      padding-top: 3rem;
    }

    .flattenBtn {
      transition: transform 0.4s ease;
      &:hover {
        transform: scale(1.25);
      }
    }

    .table td {
      align-content: center;
    }
  }

  .b-card {
    padding: 2rem;
    border-radius: 0.75rem;
    border: 2px solid var(--grey200);
  }

  .b-article-cards {
    gap: 4rem;

    .b-swiper {
      background: var(--grey50);
      min-height: 520px;
      overflow: hidden;
      height: 100%;

      @media (max-width: 576px) {
        /* 小於 sm */
        .b-swiper-image {
          object-fit: cover !important;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .card-body {
        max-height: var(--article-height);
        overflow-y: auto; /* 允許內容滾動 */
        scrollbar-width: thin; /* (可選) 縮小滾動條，在 Firefox 有效 */
      }
    }
  }

  .b-aside {
    background: var(--grey50);
    padding: 2.25rem;
    min-width: 24.375rem;
    position: sticky;
    top: 0;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    .b-purchaseBtn {
      margin-top: 3.5rem;
    }

    .b-warning {
      border-top: 1.5px solid var(--grey200);

      li {
        margin-block: 0.3rem;
        font-size: 0.875rem;
      }
    }
  }

  .b-other-act {
    .b-title {
      padding-top: 6rem;
    }

    .b-act-list {
      padding-top: 1.5rem;
      padding-bottom: 9rem;
    }
  }
}
