/* 活動列表頁 */
.b-container {
  padding-inline: 4rem;
}

.b-hero {
  width: auto;
  height: 520px;
  // background: url('../../../public/images/activity/cover.jpeg') center center /
  //   cover no-repeat;
  opacity: 0.1;

  .b-text {
    top: 50%;
    left: 6%;
    transform: translateY(-50%);

    .b-hero-title {
      color: var(--grey50);
      font-family: Poppins;
      font-size: 3.5rem;
      font-weight: 700;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    }

    .b-hero-subtitle {
      color: var(--grey50);
      font-family: 'Noto Sans TC';
      font-size: 2.25rem;
      font-weight: 500;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
  }
}

.b-swiper {
  height: 520px;
  opacity: 0.9;

  .b-swiper-text {
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    z-index: 5;

    .b-swiper-title {
      color: var(--grey50);
      font-family: Poppins;
      font-size: 3.5rem;
      font-weight: 700;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    }

    .b-swiper-subtitle {
      color: var(--grey50);
      font-family: 'Noto Sans TC';
      font-size: 2.25rem;
      font-weight: 500;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
  }
}

@media screen and (max-width: 576px) {
  .b-hero {
    height: 250px;
  }
}

.b-filter-bar {
  padding-block: 1.25rem;
  border-top: 1px solid var(--grey100);

  h4 {
    color: var(--grey500);
  }

  .b-filters {
    gap: 4rem;

    @media screen and (max-width: 576px) {
      gap: 2.4rem;
    }

    .b-filter,
    .b-order {
      border: none;
      background-color: white;
      gap: 0.75rem;
    }
  }
}

.b-filter-slide {
  z-index: 4;
  width: 37.5rem;

  /* 側邊欄滾動 */
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  /* 側邊欄滾動 */
  padding: 3rem 3rem 0 3rem;
  background: white;

  .b-filter-title {
    padding: 1.5rem 0rem 3rem 0rem;

    i {
      font-size: 1.5rem;
    }
  }

  .b-filter-conds {
    gap: 3rem;

    h4 {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid var(--grey200);
    }

    h6 {
      font-weight: 600;
      /* reset */
      margin-bottom: 0;
    }

    .b-form-checkbox {
      margin-bottom: 1.5rem;

      input {
        margin-right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.125rem;
        border: 1px solid var(--black);
      }
    }

    .b-slide-bar {
      height: 0.375rem;
      background-color: var(--grey200);
      border-radius: 75px;

      .b-toggle {
        width: 1.375rem;
        height: 1.375rem;
        background-color: white;
        border: 1px solid var(--grey700);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 30%;
        transform: translate(0, -50%);
      }
    }

    .b-form-date,
    .b-form-select {
      margin-bottom: 1.5rem;
    }

    input[type='date'],
    select {
      padding: 0.75rem;
    }

    button {
      margin-top: 0rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .b-filter-slide {
    width: 100%;
  }
}

.b-act-list {
  padding-top: 4rem;
  padding-bottom: 8rem;

  .card {
    background: var(
      --gradient-grey1,
      radial-gradient(
        129.27% 141.42% at -41.69% -31.49%,
        #e5e5e5 0%,
        #f9f9f9 100%
      )
    );

    .card-body {
      gap: 2.5rem;
      padding: 1.5rem;

      .b-text {
        gap: 0.4rem;

        .card-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        h4 {
          color: #2f97c6;
        }
      }
    }
  }

  .b-load-btn {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .b-act-list {
    padding-top: 2rem;

    .card {
      .card-body {
        padding: 1.2rem;

        .b-text {
          gap: 0.25rem;
        }
      }
    }
  }
}

/* ----- 活動路由通用 ------ */
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }

  .b-sm-none {
    display: none;
  }
}

.b-title {
  padding-top: 3.5rem;
  padding-bottom: 1.25rem;
  gap: 0.25rem;
}

.b-btn {
  padding: 0.5rem 1rem;
  border-radius: var(--button-rounded-radius, 6.25rem);
  border: 1px solid var(--black);
  color: var(--black);
  text-align: center;
  align-self: flex-start;
  font-weight: 400;

  &:hover {
    color: white;
    background-color: #000;
  }
}

.b-tag {
  padding: 0.1rem 0.5rem;
  border: 1px solid #000;
  text-align: center;
  align-self: flex-start;
}

.b-load-btn {
  margin-inline: auto;
  width: 15rem;
  padding: 0.75rem;
  align-content: center;
  align-self: center;
  background-color: white;
}

/* reset css*/
.b-btn-unstyled {
  border: none;
  background-color: white;
  padding: 0;
}

a {
  color: black;
}
