.spinner-wrapper {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
}

.wave-spinner {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  height: 100%;
}

.wave-spinner span {
  width: 12px;
  animation: wave 1.175s infinite;
}

.wave-spinner span:nth-child(1) {
  animation-delay: 0s;
  background-color: var(--grey100);
}
.wave-spinner span:nth-child(2) {
  animation-delay: 0.1s;
  background-color: var(--grey200);
}
.wave-spinner span:nth-child(3) {
  animation-delay: 0.2s;
  background-color: var(--grey300);
}
.wave-spinner span:nth-child(4) {
  animation-delay: 0.3s;
  background-color: var(--grey500);
}
.wave-spinner span:nth-child(5) {
  animation-delay: 0.4s;
  background-color: var(--grey700);
}

@keyframes wave {
  0%,
  100% {
    height: 20px;
  }
  50% {
    height: 120px;
  }
}

.spinner-wrapper p {
  margin-top: 16px;
  color: var(--grey900);
  font-weight: bold;
}
