.body {
  width: 600px;
}


.k-body {

  .section {
    width: 100%;
  }

  .div {
    width: 100%;
    height: 8.5rem;
    margin-bottom: .5rem;
    position: relative;

    display: flex;
    align-items: stretch;
    /* 讓子元素填滿高度 */
    position: relative;

    /* 確保偽元素相對於容器定位 */

    .image {
      position: absolute;
      top: 50%;
      left: 3.25rem;
      transform: translate(-50%, -50%);
    }
  }

  .div::before {
    content: '';
    border-left: 1px solid #ccc;
    /* 使用 flex 屬性來控制位置 */
    flex-shrink: 0;
    /* 防止分隔線被壓縮 */
    width: 1px;
    /* 設定分隔線寬度 */
    height: 100%;
    /* 填滿容器高度 */
    margin-inline: 100px 10px;
    /* 可選：添加左右間距 */
  }

  ul {
    list-style: none;
    padding-top: 25px;
  }

  li {
    margin-bottom: 4px;
    padding: 0;
    list-style: none;
    display: flex;

    div .text {
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  .garybg {
    background-color: darkgray;

    // .garybg-img {
    //   background-color: aqua;
    // }
  }

  .gary-line {
    border: 1px solid #ccc;
  }

  .clear {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    margin-left: 80%;
    margin-bottom: .5rem;
    cursor: pointer
  }

  .btn {
    display: inline-block;
    width: 100%;
    border-radius: 35px;
  }
}