* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.error-message {
  color: red;
  font-size: 14px;
  // margin-bottom: 5px;
}

.back {
  position: absolute;
  top: 36px;
  left: 16px;
  cursor: pointer;
  color: #000;
  font: 400 16px Noto Sans TC, sans-serif;
}

.login-container {
  background: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.login-main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
}

.hero-image {
  width: 65%;
  height: 100vh;
  object-fit: cover;
  margin-right: 20px;
}

.form-container {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
  max-width: 500px;
  margin: auto 0;
  padding: 80px 60px 0;
}

.forget-password-container {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
  max-width: 500px;
  margin: auto 0;
  padding: 80px 60px 0;
}

.brand-container {
  align-self: center;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40px;
  margin: auto 0;
}

.brand-logo {
  aspect-ratio: 1;
  object-fit: contain;
  width: 40px;
  align-self: stretch;
  margin: auto 0;
}

.brand-text {
  align-self: stretch;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  margin: auto 0;
}

.brand-name-en {
  align-self: stretch;
  margin: auto 0;
  font: 32px Poppins, sans-serif;
}

.brand-name-zh {
  align-self: stretch;
  margin: auto 0;
  font: 20px Noto Sans TC, sans-serif;
}

.login {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #000;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.input-field,
.input-field-signup {
  border-radius: 6px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 44px;
  color: #595959;
  justify-content: center;
  padding: 6px 9px;
  font: 500 16px Noto Sans TC, sans-serif;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px;
}



.input-field-signup {
  flex: 1;
  flex-direction: row;
}

.name-container {
  display: flex;
  gap: 16px;
}

.password-field {
  margin-top: 16px;
}

.form-input {
  background: #fff;
  z-index: 0;
  display: flex;
  // min-height: 44px;
  width: 100%;
  border: none;
  outline: none;
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.show-password {
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  min-height: 36px;
  width: 36px;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.show-password-icon {
  aspect-ratio: 0.63;
  object-fit: contain;
  width: 100%;
}

.forgot-password {
  color: #595959;
  text-align: center;
  align-self: center;
  margin-top: 31px;
  font: 400 14px Source Sans Pro, sans-serif;
  text-decoration: none;
}

.login-button {
  border-radius: 35px;
  background: #f0f0f0;
  min-height: 50px;
  margin-top: 16px;
  color: #ababab;
  text-align: center;
  padding: 17px;
  font: 400 18px Ubuntu, sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background 0.5s ease, color 0.5s ease;
}


.login-button.hover {
  background: #000;
  color: #fff;
}

.social-login {
  display: flex;
  margin-top: 13px;
  gap: 16px;
  white-space: nowrap;
  text-align: center;
}

.social-button {
  border-radius: 35px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 11px 27px;
  border: 1px solid #e5e5e5;
  background: transparent;
  cursor: pointer;
}

.social-icon {
  aspect-ratio: 2.84;
  object-fit: contain;
}

.signup-prompt {
  color: #000;
  text-align: center;
  align-self: center;
  margin-top: 35px;
  font: 400 14px Source Sans Pro, sans-serif;
}

.signup-link {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 430px) {
  .hero-image {
    display: none;
  }

  .form-container {
    max-width: 100%;
    padding: 16px;
  }

  .name-container {
    flex-direction: column;
  }

  .input-field-signup {
    margin-top: 0px;
  }

  .input-field {
    max-width: 100%;
    margin-top: 16px;
  }
}