  .main {
    min-height: 800px;
    padding: 32px 16px;
  }

  .container {
    max-width: 1280px;
    margin: 160px auto;
    padding: 0 64px;
  }

  .page-title {
    color: #000;
    // font: 700 32px Poppins, sans-serif;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    margin: 20px 0 20px 0;
    gap: 64px;
  }

  .sidebar {
    width: 324px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px 32px;
    height: 570px;
  }

  .sidebar-section {
    margin-bottom: 20px;
  }

  .sidebar-title {
    margin-bottom: 16px;
    color: #666;
    font: 700 18px Ubuntu, sans-serif;
    margin-bottom: 16px;
  }

  .sidebar-title a {
    color: #666;
    margin-bottom: 16px;
  }

  .sidebar-title.active {
    color: #d52b1e;
    font-weight: bold;

    a,
    a:link,
    a:visited {
      color: #d52b1e;
    }
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
  }

  .sidebar-item {
    color: #666;
    font: 400 16px Source Sans Pro, sans-serif;
    padding: 8px 0;
  }

  .sidebar-item.active {
    color: #d52b1e;
    font-weight: bold;

    a,
    a:link,
    a:visited {
      color: #d52b1e;
    }
  }

  .profile-form {
    flex: 1;
  }

  .section-header {
    margin-bottom: 24px;
  }

  .section-title {
    margin: 0px 0px 20px 0;
    ;
    color: #000;
  }

  .a-form-container {
    display: flex;
    gap: 70px;
  }

  .form-group {
    margin-bottom: 24px;
  }

  .a-form-label {
    color: #666;
    font: 400 14px Source Sans Pro, sans-serif;
    margin-bottom: 8px;
  }

  .a-form-control[readonly] {
    background: #f5f5f5;
  }

  .left,
  .right {
    flex: 1;
  }

  .password-group {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .change-password {
    margin-top: 30px;
    color: #0077bb;
    font: 400 14px Noto Sans TC, sans-serif;
    cursor: pointer;
    border: none;
    background: transparent;
  }

  .gender-group {
    margin-top: 32px;
    flex: 1;
  }

  .gender-label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .gender-radio {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #979797;
    position: relative;
  }

  .gender-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  input[type='radio']:checked+.gender-radio::after {
    display: block;
  }

  .submit-btn {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 14px 32px;
    font: 500 16px Noto Sans TC, sans-serif;
    cursor: pointer;
  }

  .hamburger-member {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 16px 0;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
  }

  .hamburger-member h5 {
    font-weight: 400;
    padding: 4px 12px;
    margin: 0 auto;
  }

  .hamburger-member i {
    color: #d52b1e;
    margin-left: auto;
  }

  .dropdown-content {
    display: none;
    width: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content h5 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content h5:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .tab-link {
    display: none;
  }

  .a-form-control {
    margin-top: 10px;
  }

  // .tab-link.active {
  //   display: inline-block;
  // }

  @media (max-width: 991px) {

    .header-top,
    .nav,
    .container,
    .footer-content,
    .footer-bottom {
      padding-left: 20px;
      padding-right: 20px;
    }

    .container {
      margin: 185px auto;
    }

    .main {
      min-height: 800px;
      padding: 0px 16px 0px 16px;
    }

    .a-form-container {
      flex-direction: column;
      gap: 1px;
    }

    .search-wrapper {
      max-width: 100%;
    }

    .content {
      flex-direction: column;
    }

    .section-header {
      display: none;
    }

    .sidebar {
      display: none;
      width: 100%;
    }

    .hamburger-member {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

    }

    .dropdown-content {
      display: inline;
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }