/* modify container padding */
.cp-px-modified {
  padding: 0 64px;

  @media screen and (max-width: 576px) {
    padding: 0 16px;
  }
}

/* ---- */

/* pdlist title section */
.g-compare-title {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: top 0.3s ease-in-out;
  background-color: var(--white);
  // 微調(在scroll時與header無間距)
  padding-block: 40px 20px;
  margin-top: -20px;
  border-bottom: 1px solid var(--grey100);

  .h4 {
    margin-right: 12px;
  }

  @media screen and (max-width: 576px) {
    h4 {
      font-size: 14px;
    }

    .h4 {
      font-size: 16px;
    }
  }
}

.g-pdcompare{
  padding-block: 242px 48px;
}
