.slideImage {
  width: 100%;
  height: 785px; /* 固定高度，可依需求調整 */
  object-fit: cover;
  @media (max-width: 996px) {
    height: 500px;
  }
}

/* Swiper 分頁點 */
:global(.swiper-pagination-bullet-active) {
  background-color: white !important; /* 被選中時變白色 */
  opacity: 1;
}
