/* 全域 */
// .m-background {
//   background-image: url(/images/cart/background.png);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }
.m-index {
  padding-inline: 64px;
  padding-block: 100px 0;
  @media (max-width: 768px) {
    padding-block: 50px 0;
    padding-inline: 16px;
  }
}

/* 自訂 */

/* section1 */
.m-section1 {
  width: 100%;
}
.m-section1-card1 {
  @media (max-width: 768px) {
    display: none;
  }
}
.m-section1-mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    height: 650px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
}
.m-section1-card1-text {
  margin-right: 10%;
  padding-top: 50px;
  h5 {
    font-size: 46px;
    font-weight: 700;
  }
  p {
    font-size: 32px;
    padding-bottom: 70px;
  }
}
.m-section1-btn {
  padding-inline: 70px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 22px;
  border: 3px solid white;
}
/* section2 */
.m-index-title {
  margin-bottom: 50px;
  /* h1 {
    font-size: 32px;
    font-weight: 700;
  } */
  span {
    font-size: 18px;
  }
}
.m-section2-col {
  background-size: cover;
  padding: 50px 40px 50px 40px;
  @media (max-width: 768px) {
    padding-block: 16px;
    padding-inline: 16px;
  }
}
.m-section2-col1 {
  background-image: url(/images/cart/col1.png);
}
.m-section2-col2 {
  background-image: url(/images/cart/col2.png);
}
.m-section2-col3 {
  background-image: url(/images/cart/col3.png);
}
.m-section2-col4 {
  background-image: url(/images/cart/col4.png);
}
.m-section2-line {
  border-left: 5px solid white;
  padding-left: 25px;
  color: white;
  @media (max-width: 768px) {
    border-left: none;
    padding-left: 0;
    color: none;
  }
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}
/* section3 */
.card-group {
  /* h3 {
    font-size: 18px;
    font-weight: 700;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  h5 {
    text-decoration: line-through;
    font-size: 16px;
    color: gray;
    font-weight: 700;
  } */
  span {
    font-size: 16px;
    padding-left: 20px;
    color: #d52b1e;
    font-weight: 700;
  }
  /* p {
    font-size: 12px;
    font-weight: 700;
  } */
}
/* section4 */
.m-section4 {
  /* padding-top: 60px;
  h5 {
    font-weight: 700;
    font-size: 24px;
  }
  p {
    font-weight: 700;
    font-size: 18px;
  } */
}
/* section5 */
.m-section5 {
  padding-top: 60px;
  width: 100%;
  height: 100%;
}
.offcanvas {
  --bs-offcanvas-width: 700px;
}

// -------- 動畫 --------

.m-section2-col5 {
  opacity: 0;
  transform: translateX(-50px);
}

.m-section2-col5.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.m-section2-col5.is-visible[data-scroll] {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.m-section2-col6 {
  opacity: 0;
  transform: translateX(-150px);
}

.m-section2-col6.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.m-section2-col6.is-visible[data-scroll] {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.m-index-title {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.m-index-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.m-index-title.is-visible[data-scroll] {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.m-section2-col {
  transition: transform 1s ease, box-shadow 1s ease, filter 1s ease,
    opacity 1s ease;
}

.m-section2-col:hover {
  filter: brightness(1.2);
  transform: translate(-8px, -5px);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.m-section2-colx {
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
}
