/* modify container padding */
.d-px-modified {
    padding: 0 64px;
  
    @media screen and (max-width: 576px) {
      padding: 0 16px;
    }
  }
  
  /* ---- */

/* also like section */

.g-also-like {
    padding-block: 100px 64px;
  
    @media screen and (max-width: 430px) {
      padding-block: 64px;
    }
  }
  
  .g-like-title {
    margin: 0px 0px 32px -12px;
  
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 22px;
      }
  
      h5 {
        font-size: 12px;
      }
  
      h4 {
        font-size: 14px;
      }
    }
  }
  
  .g-like-row {
    position: relative;
  
    .g-left-arrow {
      position: absolute;
      top: 45%;
      left: -20px;
      width: 40px;
      z-index: 3;
    }
  
    .g-right-arrow {
      position: absolute;
      top: 45%;
      right: -20px;
      width: 40px;
      z-index: 3;
    }
  
    @media screen and (max-width: 576px) {
      .g-left-arrow {
        left: -15px;
        width: 30px;
      }
      .g-right-arrow {
        right: -15px;
        width: 30px;
      }
    }
  }
  
  /* product card 調整:p-0, z-index, scale*/
  .g-product-card {
    z-index: 1;
  }
  
  .g-pd-img {
    height: 460px;
    padding: 30px 20px;
    background: radial-gradient(
      111.92% 179.77% at -76.41% -9.75%,
      #e5e5e5 0%,
      #f9f9f9 100%
    );
    overflow: hidden;

    @media screen and (max-width: 576px) {
        height: 280px;
      }
    
      @media screen and (max-width: 391px) {
        padding: 20px 12px;
      }
    
  }

  .g-brand-name {
    min-width: 66px;
    height: 25px;
    padding-top: 1px;
    color: var(--white);
    background-color: var(--grey900);
    border-radius: 1px;
    top: 20px;
    left: 20px;
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins";
  
    @media screen and (max-width: 576px) {
      min-width: 50px;
      height: 20px;
      font-size: 11px;
    }
  
    @media screen and (max-width: 391px) {
      top: 12px;
      left: 12px;
    }
  }
  
  .g-pd-text {
    padding: 20px;
  
    p {
      margin-block: 8px;
    }

    @media screen and (max-width: 391px) {
        padding: 12px;
      }
    
      @media screen and (max-width: 391px) {
        .h6{
          font-size: 14px;
        }
      }
  }
  
  .g-color-row {
    display: none;
  }
  
  .g-product-card:hover {
    z-index: 2;
    outline: 1px solid var(--grey300);
    box-shadow: 0px 0px 10px 5px rgba(200, 200, 200, 0.2);
    transform: scale(1.008);
  
    .g-pd-text {
      position: relative;
    }
  
    .g-pd-text:before {
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      content: '';
      height: 1px;
      background-color: var(--grey300);
    }
  
    .g-pd-img {
      background: var(--white);
    }
  
    .g-color-text {
      display: none;
    }
  
    .g-color-row {
      display: flex;
    //   gap: 8px;
      margin-block: 6px;
      margin-left: -4px;
  
      div {
        padding-inline: 4px;
        cursor: pointer;
      }
    }
  }
  
  /* product-card-end */

  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
  }
  
  .custom-swiper-button-prev {
    left: -5px;
  }
  
  .custom-swiper-button-next {
    right: -5px;
  }
  
  .custom-swiper-button-prev:hover,
  .custom-swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }