/* modify container padding */
.d-px-modified {
  padding: 0 64px;

  @media screen and (max-width: 576px) {
    padding: 0 16px;
  }
}

/* ---- */

.g-loading {
  height: 500px;
  padding: 64px;
}

/* product imgs section */
.g-pd-imgs {
  padding-top: 126px;
  background-color: var(--grey50);
}

/* product details section */
.g-pd-details {
  /* 向下捲動時header會隱藏的狀態下 */
  /* height: calc(100vh + 80px); */
  /* height: 100vh; */
  /* min-height: 776px; */

  @media screen and (min-width: 992px) {
    // height: 100vh;
    height: calc(100vh + 100px);
    min-height: 776px;
  }
}

/* product discription side */
.g-pd-discrip {
  position: relative;
  overflow-y: auto;
  padding: 226px 120px 28px 120px;

  /* 隱藏滾動條 */
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .g-heart {
    position: absolute;
    top: 230px; //(104+126)
    right: 120px;
  }

  h3 {
    padding-bottom: 40px;
  }

  .g-price {
    padding-bottom: 24px;
  }

  .g-pd-brand {
    width: 90px;
    height: 30px;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .g-pd-discrip {
    padding: 100px 60px 28px 60px;

    .g-heart {
      top: 104px;
      right: 60px;
    }
  }
}

@media screen and (max-width: 430px) {
  .g-pd-discrip {
    padding: 64px 16px 28px 16px;

    .g-heart {
      top: 104px;
      right: 16px;
    }
  }
}

.g-colors {
  padding: 20px 16px;
  margin-block: 16px 24px;
  border: 1px solid var(--grey100);

  .g-color-text p {
    color: var(--grey700);
  }

  .g-color-balls {
    gap: 12px;

    button {
      padding: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0);
    }

    // img:hover {
    //   outline: 2px solid var(--black);
    //   border-radius: 50%;
    // }

    .selected img {
      outline: 2px solid var(--black);
      border-radius: 50%;
    }
  }
}

.g-add-to-cart {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 16px 24px;
  margin-block: 16px 24px;
}

.g-stock {
  color: var(--grey700);
  margin-bottom: 30px;
}

.g-pd-disc,
.g-pd-spec,
.g-pd-rating {
  border-top: 1px solid var(--grey200);
}

.g-pd-spec {
  li {
    margin-top: 16px;
  }
}

