/* modify container padding */
.d-px-modified {
  padding: 0 64px;

  @media screen and (max-width: 576px) {
    padding: 0 16px;
  }
}

/* ---- */

.g-loading {
  height: 500px;
  padding: 64px;
}

/* product details section */
.g-pd-details {
  /* 向下捲動時header會隱藏的狀態下 */
  /* height: calc(100vh + 80px); */
  /* height: 100vh; */
  /* min-height: 776px; */

  @media screen and (min-width: 992px) {
    height: 100vh;
    min-height: 776px;
  }
}

/* product images side */
.g-pd-imgs {
  background-color: var(--grey50);
}

.g-side-scroll {
  padding: 160px 64px 160px 64px;
  overflow: hidden;

  .g-img-box {
    background-color: var(--white);

    &:hover {
      border: 1px solid var(--grey300);
    }
  }
}

.g-main-img {
  padding: 100px 64px 100px 0px;
  overflow: hidden;
  height: 100%;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.g-main-img2 {
  padding-block: 100px;
  height: 100vh;
  min-height: 776px;
  overflow: hidden;
  display: none;

  @media screen and (max-width: 992px) {
    display: block;
  }
}

/* product discription side */
.g-pd-discrip {
  position: relative;
  overflow-y: auto;
  padding: 100px 120px 28px 120px;

  /* 隱藏滾動條 */
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .g-heart {
    position: absolute;
    top: 104px;
    right: 120px;
  }

  h3 {
    padding-bottom: 40px;
  }

  .g-price {
    padding-bottom: 24px;
  }

  .g-pd-brand {
    width: 90px;
    height: 30px;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .g-pd-discrip {
    padding: 100px 60px 28px 60px;

    .g-heart {
      top: 104px;
      right: 60px;
    }
  }
}

@media screen and (max-width: 430px) {
  .g-pd-discrip {
    padding: 64px 16px 28px 16px;

    .g-heart {
      top: 104px;
      right: 16px;
    }
  }
}

.g-colors {
  padding: 20px 16px;
  margin-block: 16px 24px;
  border: 1px solid var(--grey100);

  .g-color-text p {
    color: var(--grey700);
  }

  .g-color-balls {
    gap: 12px;

    button {
      padding: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0);
    }

    // img:hover {
    //   outline: 2px solid var(--black);
    //   border-radius: 50%;
    // }

    .selected img {
      outline: 2px solid var(--black);
      border-radius: 50%;
    }
  }
}

.g-add-to-cart {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 16px 24px;
  margin-block: 16px 24px;
}

.g-stock {
  color: var(--grey700);
  margin-bottom: 30px;
}

.g-pd-disc,
.g-pd-spec,
.g-pd-rating {
  border-top: 1px solid var(--grey200);
}

.g-pd-spec {
  li {
    margin-top: 16px;
  }
}

/* also like section */

.g-also-like {
  padding-block: 100px 64px;

  @media screen and (max-width: 430px) {
    padding-block: 64px;
  }
}

.g-like-title {
  margin: 0px 0px 32px -12px;

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 22px;
    }

    h5 {
      font-size: 12px;
    }

    h4 {
      font-size: 14px;
    }
  }
}

.g-like-row {
  position: relative;

  .g-left-arrow {
    position: absolute;
    top: 45%;
    left: -20px;
    width: 40px;
    z-index: 3;
  }

  .g-right-arrow {
    position: absolute;
    top: 45%;
    right: -20px;
    width: 40px;
    z-index: 3;
  }

  @media screen and (max-width: 576px) {
    .g-left-arrow {
      left: -15px;
      width: 30px;
    }
    .g-right-arrow {
      right: -15px;
      width: 30px;
    }
  }
}

/* product card 調整:p-0, z-index, scale*/
.g-product-card {
  z-index: 1;
}

.g-pd-img {
  height: 460px;
  padding: 30px 20px;
  background: radial-gradient(
    111.92% 179.77% at -76.41% -9.75%,
    #e5e5e5 0%,
    #f9f9f9 100%
  );
  overflow: hidden;
}

.g-pd-text {
  padding: 20px;

  p {
    margin-block: 8px;
  }
}

.g-color-row {
  display: none;
}

.g-product-card:hover {
  z-index: 2;
  outline: 1px solid var(--grey300);
  box-shadow: 0px 0px 10px 5px rgba(200, 200, 200, 0.2);
  transform: scale(1.008);

  .g-pd-text {
    position: relative;
  }

  .g-pd-text:before {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    content: '';
    height: 1px;
    background-color: var(--grey300);
  }

  .g-pd-img {
    background: var(--white);
  }

  .g-color-text {
    display: none;
  }

  .g-color-row {
    display: flex;
    gap: 8px;
    margin-block: 6px;

    img {
      cursor: pointer;
    }
  }
}
/* product-card-end */


/* swiper-custom1 */
.g-swiper-sec {
  position: relative;
  height: 100%;
}

.g-my-swiper {
  height: 100%;
}

.g-swiper-slide {
  padding: 4px;
  background-color: var(--white);
  display: flex !important;
  justify-content: center !important;
  overflow: hidden;
  &:hover {
    border: 1px solid var(--grey300);
  }
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  left: calc(50% - 12px);
  cursor: pointer;

  // @media screen and (max-width: 576px) {
  //   display: none;
  // }
}

.custom-swiper-button-prev {
  top: -60px;
}

.custom-swiper-button-next {
  bottom: -60px;
}

/* swiper-custom2 */
.g-swiper-slide2 {
  padding: 4px;
  display: flex !important;
  justify-content: center !important;
  overflow: hidden;
}

.custom-swiper-button-prev2,
.custom-swiper-button-next2 {
  position: absolute;
  top: calc(50% - 12px);
  cursor: pointer;
}

.custom-swiper-button-prev2 {
  transform: rotate(90deg);
  transform-origin: center;
  // left: -60px;
  // 右
}

.custom-swiper-button-next2 {
  transform: rotate(90deg);
  transform-origin: center;
  // right: -60px;
}