.c-filter-color {
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      outline: 2px solid var(--black);
      border-radius: 50%;
    }
    @media (max-width: 390px) {
      width: 24px;
      height: 24px;
    }
  }
}
.c-filter-btn {
  width: 137px;
  height: 48px;
  &:hover {
    background-color: #000;  
    color: #ffffff;  
    font-style: #fff;
  }
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}
