:root {
  --card-border-radius: 1rem;
}

// body {
//   background-color: var(--grey50);
// }

.b-admin {
  background-color: var(--grey50);
  .b-card {
    margin: 2rem 3rem;
    padding: 1.5rem;
  }
  .card {
    border: 1px solid var(--grey200)
  }

  /* Table */
  @media screen and (max-width: 576px) {
    html {
      font-size: 16px !important;
    }

    .heading {
      flex-direction: column;
    }
  }

  .b-nav {
    height: 50vh;

    img {
      width: 80%;
      max-width: 8rem;
      height: auto;
    }

    ul {
      border-top: 0.75px solid var(--grey100);

      .nav-item {
        padding-block: 4px;
        margin-block: 4px;
        border-radius: 6px;

        &:hover {
          background-color: #eee;
        }

        &.active {
          background-color: var(--grey900);

          a {
            color: white;
          }
        }
      }

      .nav-link,
      .nav-link:hover {
        color: black;
      }
    }
  }

  .b-filter-card {
    border-radius: var(--card-border-radius);

    h4 {
      font-weight: 500;
    }

    .form-label {
      padding: 8px 16px;
      border-radius: 0.5rem;
      border: 1px solid transparent;

      &:hover {
        background: #eee;
        border: 1px solid var(--grey200);
      }

      &.active {
        background-color: #ccc;
        border: 1px solid var(--grey600);
      }
    }
  }

  .b-option-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    padding: 1rem;
    background-color: #eee;
    border-radius: 8px;
  }

  input::placeholder {
    font-size: 14px;
    color: gray;
  }

  input[name='datetimes'] {
    margin: 8px 16px;
  }

  .card {
    border-radius: var(--card-border-radius);

    .card-heading {
      border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    }

    .table {
      border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
      overflow: hidden;
    }

    .b-add-btn {
      color: var(--grey50);
      border: 1px solid var(--grey50);
      font-size: 0.9rem;

      &:hover {
        background-color: var(--grey100);
        color: black;
      }
    }
  }

  .b-admin-form {
    gap: 3.6rem;

    .form-check-inline {
      margin-right: 3rem;
    }
    .b-form-date {
      margin-bottom: 0;
    }
    .b-img-upload col{
      min-height: 320px;
    }
  }

  .table th {
    min-width: 8rem;
    height: 4rem;
    align-content: center;

    button {
      font-weight: 600;

      i {
        color: black;
      }
    }
  }

  .table td {
    height: 7rem;
    align-content: center;
  }

  .h6 {
    font-weight: normal;
  }

  .b-option-container label {
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .b-option-container input:checked + label {
    background-color: var(--grey900);
    color: white;
  }

.k-create{
  input{
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    height: 100%
  }

  .row{
    div{
      margin-bottom: 15px;
    }
  }
}
}
